@page "/books/add"
@using Services.Books.Models
@using Services.Books
@using Services.Metadata
@inject IBookService service
@inject NavigationManager navigationManager

<h3>课本</h3>

<p>添加新的课本。</p>

<hr class="hr" />

<EditForm Model="@Model" OnValidSubmit="@Submit" FormName="AddBook">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="gy-5">
        <div class="col-md-5">
            <label class="form-label">书名：</label>
            <InputText @bind-Value="Model!.BookName" class="form-control rounded" />
        </div>
    </div>
    <div class="col-md-5">
        <label class="form-label">版本：</label>
        <select @bind="Model.Version" class="form-select">
            @foreach (var version in Versions)
            {
                <option value="@version">@version</option>
            }
        </select>
    </div>
    <div class="col-md-5">
        <label class="form-label">出版年份：</label>
        <select @bind="Model.AuditYear" class="form-select">
            @foreach (var year in Years)
            {
                <option value="@year">@year</option>
            }
        </select>
    </div>
    <div class="col-md-5">
        <label class="form-label">年级</label>
        <select @bind="Model.Grade" class="form-select">
            @foreach (var grade in Grades)
            {
                <option value="@grade">@grade</option>
            }
        </select>
    </div>
    <div class="col-md-5">
        <label class="form-label">学期</label>
        <select @bind="Model.Semester" class="form-select">
            @foreach (var semester in Semesters)
            {
                <option value="@semester">@semester</option>
            }
        </select>
    </div>
    <div class="col-md-5">
        <label class="form-label"></label>
        <button type="submit" class="form-control btn btn-outline-primary" data-mdb-ripple-init>保存</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public AddBookModel Model { get; set; }

    public string[] Grades;
    public string[] Versions;
    public string[] Semesters;
    public int[] Years;

    public Add()
    {
        Grades = MetadataService.GetDefaultGrades();
        Versions = MetadataService.GetDefaultVersions();
        Semesters = MetadataService.GetDefaultSemesters();
        Years = MetadataService.GetDefaultYears();
        Model = new AddBookModel()
        {
            BookName = string.Empty,
            Version=Versions.FirstOrDefault(),
            Grade = Grades.FirstOrDefault(),
            AuditYear = Years.FirstOrDefault(),
            Semester = Semesters.FirstOrDefault(),
        };
    }

    protected override void OnInitialized()
    {
    }

    private async Task Submit()
    {
        var newBook = await service.AddAsync(Model);
        navigationManager.NavigateTo($"/books/{newBook.BookId}/info");
    }
}