@page "/words/checking"
@using Services.CheckingHistories.Models
@using Services.WordAndHistory
@using Services.WordAndHistory.Models
@using Services.Metadata
@using Services.CheckingHistories.Services
@using Services.WordAndHistory.Services
@using System.Text
@inject             Services.WordAndHistory.IWordHistoryService service
@inject             Services.CheckingHistories.Services.IWordHistoryBatchService historyService
@inject IWordPreCheckService preCheckService
@inject IJSRuntime JSRuntime
@inject AppState appState
@inject NavigationManager navigationManager

<h3>听写</h3>

<p>新增听写信息。
    <a href="/words" class="btn btn-outline-primary" data-mdb-ripple-init>返回</a>
</p>
<hr class="hr" />
<table class="row gy-3 pe-1">
    <thead>
        <tr class="form-group">
            <th ></th>
            <th ></th>
        </tr>
    </thead>
    <tbody>
        <tr class="form-group">
            <td class="col-md-4">
                <div >
                    <label class="form-label">宝宝：</label>
                    <span class="text-primary">@appState.KidName</span>
                </div>
            </td>
            <td class="col-md-4">
                <div>
                    <label class="form-label">
                        教材：
                    </label>
                    <span class="text-primary">@appState.BookCategoryFullName</span>
                </div>
            </td>
        </tr>
        @if (currentItems != null && currentItems.Count>0)
        {
            <tr class="form-group">
                <td class="col-md-4">
                    <div>
                        <button @onclick="@(e => CopyWords())" class="btn btn-info m-2 btn-sm">
                            复制词语
                        </button>
                    </div>
                </td>
                <td class="col-md-4">
                    @if (errorWords != null && errorWords.Any())
                    {
                        <div>
                            <button @onclick="@(e => CopyErrorWords())" class="btn btn-secondary m-2 btn-sm">
                                复制错误词语
                            </button>
                        </div>
                    } else {
                        <div>
                            <button @onclick="@(e => CopyAll())" class="btn btn-secondary m-2 btn-sm">
                            复制全部
                        </button>
                    </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<hr class="hr" />
@if (result == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="w-5">#</th>
                <th class="w-25">单词/词语</th>
                <th class="w-25">翻译/拼音</th>
                <th class="w-25">课程/单元</th>
                <th class="w-25">检查情况</th>
            </tr>
        </thead>
        <tbody>
            @{
                var x = 1;
            }
            @foreach (var word in currentItems)
            {
                <tr>
                    <td>@(x++)</td>
                    <td><a href="/history/@word.WordId" class="text-info">@word.Content</a></td>
                    <td>@word.Explanation</td>
                    <td>@word.Course/@word.Unit</td>
                    <td>
                        @word.CheckingHistorySummary
                   </td>
                </tr>
                @if (!checkedWords.Contains(word.WordId))
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            <button @onclick="@(e => SaveCheckingStatus(word.WordId, CheckingRemark.Correct))" class="btn btn-success m-2 btn-sm">
                                正确
                            </button>
                        </td>
                        <td>
                            <button @onclick="@(e => SaveCheckingStatus(word.WordId, CheckingRemark.Incorrect))" class="btn btn-warning m-2 btn-sm">
                                错误
                            </button>
                        </td>
                        
                        @if (word.IsEnglish())
                        {
                            <td>
                                <button @onclick="@(e => SaveCheckingStatus(word.WordId, CheckingRemark.Writing))" class="btn btn-danger m-1 btn-sm">
                                    拼写 错误
                                </button>
                            </td>
                            <td>
                                <button @onclick="@(e => SaveCheckingStatus(word.WordId, CheckingRemark.Translation))" class="btn btn-danger m-1 btn-sm">
                                    翻译 错误
                                </button>
                            </td>
                        }
                        else if (word.IsChinese())
                        {
                            <td>
                                <button @onclick="@(e => SaveCheckingStatus(word.WordId, CheckingRemark.Word))" class="btn btn-danger m-1 btn-sm">
                                    文字 错误
                                </button>
                            </td>
                            <td>
                                <button @onclick="@(e => SaveCheckingStatus(word.WordId, CheckingRemark.Pinyin))" class="btn btn-danger m-1 btn-sm">
                                    拼音 错误
                                </button>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if(pageIndex >1){
                <li class="page-item"><text id="pg-0" class="page-link" @onclick="@(e => ChangePage(pageIndex-1))">&lt;&lt;</text></li>
            }
            <li class="page-item"><text id="pg-@(pageIndex)" class="page-link">第 @(pageIndex)/@(totalPage) 页</text></li>
            @if (pageIndex < totalPage)
            {
                <li class="page-item"><text id="pg-99" class="page-link" @onclick="@(e => ChangePage(pageIndex+1))">>></text></li>
            }
        </ul>
    </nav>
}

@code {
    static string Splitter = ",";
    static string WordSplitter = Environment.NewLine;
    private SearchWordAndHistoryResult result;

    private List<int> checkedWords;
    private List<int> errorWords;

    private int pageIndex;
    private int totalPage;
    private int pageSize;
    private IList<WordHistoryModel> currentItems;


    public Checking()
    {
        checkedWords = new List<int>();
        errorWords = new List<int>();
    }

    protected override async Task OnInitializedAsync()
    {
        pageSize = appState.DefaultPageSize;
        if (string.IsNullOrEmpty(appState.SharedCode))
        {
            navigationManager.NavigateTo("/bookCategories", true);
            return;
        }

        if (appState.KidId <= 0)
        {
            navigationManager.NavigateTo("/kids", true);
            return;
        }

        result = preCheckService.GetAll(appState.KidId, appState.SharedCode);
        Refresh(1);
    }

    private async Task SaveCheckingStatus(int id, CheckingRemark status)
    {
        await historyService.SaveCheckingStatusAsync(id, appState.KidId, status);

        checkedWords.Add(id);
        if(status != CheckingRemark.Correct)
        {
            errorWords.Add(id);
        }

        preCheckService.Remove(appState.KidId, id);
    }

    private void Refresh(int page)
    {
        totalPage = (int)Math.Ceiling(result.Count * 1.0 / pageSize);
        ChangePage(page);
    }

    private void ChangePage(int i)
    {
        if (i < 1)
        {
            i = 1;
        }

        if (i > totalPage)
        {
            i = totalPage;
        }

        pageIndex = i;
        currentItems = result.Words.Skip((pageIndex - 1) * pageSize).Take(pageSize).ToList();
    }

    private async Task CopyWords()
    {
        var contentBuilder = new StringBuilder();
        foreach (var word in result.Words)
        {
            contentBuilder.Append(word.Content);
            contentBuilder.Append(WordSplitter);
        }

        await Clipboard.SetTextAsync(contentBuilder.ToString());
        await JSRuntime.InvokeAsync<object>("alert", "复制成功。");
    }

    private async Task CopyAll()
    {
        var contentBuilder = new StringBuilder();

        foreach (var word in result.Words)
        {
            contentBuilder.Append(word.Content);
            contentBuilder.Append(Splitter);
            contentBuilder.Append(word.Explanation);
            contentBuilder.Append(WordSplitter);
        }

        await Clipboard.SetTextAsync(contentBuilder.ToString());
        await JSRuntime.InvokeAsync<object>("alert", "复制成功。");
    }

    private async Task CopyErrorWords()
    {
        var contentBuilder = new StringBuilder();

        foreach (var word in result.Words)
        {
            if (errorWords.Contains(word.WordId))
            {
                contentBuilder.Append(word.Content);
                contentBuilder.Append(Splitter);
                contentBuilder.Append(word.Explanation);
                contentBuilder.Append(WordSplitter);
            }
        }

        await Clipboard.SetTextAsync(contentBuilder.ToString());
        await JSRuntime.InvokeAsync<object>("alert", "复制成功。");
    }
    
}
