@page "/bookCategories/{id:int}/mappings/info"
@using Services.BookCategoryMappings.Models
@using Services.BookCategoryMappings
@using Services.Metadata
@inject IBookCategoryMappingService service
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager

<h3>教材</h3>

<p>
    教材课本信息。
    <a href="/bookCategories/@(Model.BookCategory.Id)/mappings/add" class="btn btn-outline-primary" data-mdb-ripple-init>新增</a>
</p>

<hr class="hr" />

<div class="page">
    <div class="col-md-10">
        <label class="form-label">教材：</label>
        <span class="text-primary"><a href="/bookCategories/@(Model.BookCategory.Id)/info">@Model.BookCategory.BookCategoryFullName</a></span>
    </div>
    <div class="col-md-10">
        <hr class="hr" />

        @if (Model.LinkedBooks == null)
        {
            <p><em>您还没有添加任何课本。</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>书名</th>
                        <th>版本</th>
                        <th>出版年份</th>
                        <th>年级</th>
                        <th>学期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int x = 1;
                    }
                    @foreach (var book in Model.LinkedBooks)
                    {
                        <tr>
                            <td>@(x++)</td>
                            <td>
                                <a href="/books/@book.BookId/info" class="text-info">@book.BookName</a>
                            </td>
                            <td>@book.Version</td>
                            <td>@book.AuditYear</td>
                            <td>@book.Grade</td>
                            <td>@book.Semester</td>
                            <td>
                                <a href="/books/@(book.BookId)/words" class="btn btn-outline-primary" data-mdb-ripple-init>字库</a>
                                <button @onclick="@(e => Delete(book.BookId))" class="btn btn-outline-danger">
                                    删除
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    public BookCategoryMappingsResult Model { get; set; }

    public Info()
    {
        Model = new BookCategoryMappingsResult();
    }

    protected override async void OnInitialized()
    {
        Model = await service.GetBookCategoryMappingsById(id);
    }

    private async void Delete(int bookId)
    {
        await service.RemoveBookCategoryMappingAsync(id, bookId);
    }
}