@page "/bookCategories/{sharedCode}/words/add"
@using Services.BookCategoryWords
@using Services.BookCategoryWords.Models
@using Services.Metadata
@inject AppState appState
@inject IWordBatchService importService
@inject NavigationManager navigationManager


<h3>单词/词语</h3>

<p>为当前教材添加单词/词语。
    <a href="/bookCategories/@(sharedCode)/words/import" class="btn btn-outline-primary" data-mdb-ripple-init>导入</a>
    <a href="/bookCategories/@(sharedCode)/words" class="btn btn-outline-primary " data-mdb-ripple-init>返回</a>
</p>
<hr class="hr" />
<EditForm Model="@Model" OnValidSubmit="@Submit" FormName="AddWord">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <table class="table">
        <tr class="form-group">
            <td class="m-2">
                <label class="form-label">
                    课程：
                </label>
                <select @bind="Model.Course" class="form-select">
                    @foreach (var course in Courses)
                    {
                        <option value="@course.Key">@course.Value</option>
                    }
                </select>
            </td>
            <td>
                <label class="form-label">
                    单元：
                </label>
                <select @bind="Model.Unit" class="form-select">
                    @foreach (var unit in Units)
                    {
                        <option value="@unit.Key">@unit.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr class="form-group">
            <td class="m-2">
                <label class="form-label">单词/词语：</label>
                <InputText @bind-Value="Model!.Content" class="form-control rounded" />
            </td>
            <td>
                <label class="form-label">翻译/拼音：</label>
                <InputText @bind-Value="Model!.Explanation" class="form-control rounded" />
            </td>
        </tr>
        <tr class="form-group">
            <td class="m-2">
                <label class="form-label">
                    重复处理：
                </label>
                <select @bind="Model.Overwrite" class="form-select">
                    @foreach (var option in DuplicateOptions)
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                </select>
            </td>
            <td class="m-2">
                <label class="form-label"></label>
                <button type="submit" class="form-control btn btn-outline-primary m-2" data-mdb-ripple-init>保存</button>
            </td>
        </tr>
    </table>
</EditForm>

@code {
    [Parameter]
    public string sharedCode { get; set; } = null!;

    [SupplyParameterFromForm]
    public AddWordModel Model { get; set; }

    private Dictionary<string, string> Courses;
    private Dictionary<string, string> DuplicateOptions;
    private Dictionary<int, string> Units;

    public Add()
    {
        Courses = MetadataService.GetDefaultCourses().Where(x => !string.IsNullOrEmpty(x.Key)).ToDictionary();
        Units = MetadataService.GetDefaultUnits().Where(x => x.Key > 0).ToDictionary();
        DuplicateOptions = MetadataService.GetDefaultDuplicateOption();
    }

    protected override void OnInitialized()
    {
        Model = new AddWordModel()
            {
                SharedCode = sharedCode,
                Course = Courses.First().Key,
                Unit = Units.First().Key,
                Overwrite = DuplicateOptions.First().Key,
            };
    }

    private void Submit()
    {
        importService.AddWordAsync(Model);
        navigationManager.NavigateTo($"/bookCategories/{sharedCode}/words");
    }
}