@page "/bookCategories/{sharedCode}/words/{id:int}/update"
@using Services.BookCategoryWords
@using Services.BookCategoryWords.Models
@using Services.Metadata
@inject AppState appState
@inject IWordManageService service
@inject NavigationManager navigationManager


<h3>词条</h3>

<p>
    为当前教材(<span class="text-primary">@appState.BookCategoryFullName</span>)添加词条。
</p>
<hr class="hr" />
<EditForm Model="@Model" OnValidSubmit="@Submit" FormName="UpdateWord">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table">
        <tr class="form-group">
            <td class="m-2">
                <label class="form-label">
                    课程：
                </label>
                <select @bind="Model.Course" class="form-select">
                    @foreach (var course in Courses)
                    {
                        <option value="@course.Key">@course.Value</option>
                    }
                </select>
            </td>
            <td>
                <label class="form-label">
                    单元：
                </label>
                <select @bind="Model.Unit" class="form-select">
                    @foreach (var unit in Units)
                    {
                        <option value="@unit.Key">@unit.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr class="form-group">
            <td class="m-2">
                <label class="form-label">词条：</label>
                <InputText @bind-Value="Model!.Content" class="form-control rounded" />
            </td>
            <td>
                <label class="form-label">备注：</label>
                <InputText @bind-Value="Model!.Explanation" class="form-control rounded" />
            </td>
        </tr>
        <tr class="form-group">
            <td class="m-3">
                <label class="form-label">详细描述：</label>
                <textarea @bind="Model!.Details" class="form-control rounded" rows="8" placeholder="选填内容" />
            </td>
        </tr>
        <tr class="form-group">
            <td class="m-2">
                <label class="form-label"></label>
                <button type="submit" class="form-control btn btn-outline-primary m-2" data-mdb-ripple-init>保存</button>
            </td>
        </tr>
    </table>
</EditForm>

@code {
    [Parameter]
    public string sharedCode { get; set; }=null!;

    [Parameter]
    public int id { get; set; }

    [SupplyParameterFromForm]
    public AddWordModel Model { get; set; }

    private Dictionary<string, string> Courses;
    private Dictionary<int, string> Units;

    public Update()
    {
        Courses = MetadataService.GetDefaultCourses().Where(x => !string.IsNullOrEmpty(x.Key)).ToDictionary();
        Units = MetadataService.GetDefaultUnits().Where(x => x.Key > 0).ToDictionary();
    }

    protected override async void OnInitialized()
    {
        var word = await service.GetByIdAsync(id);
        Model = new AddWordModel()
            {
                SharedCode = sharedCode,
                Course = word.Course,
                Unit = word.Unit,
                Content = word.Content,
                Explanation = word.Explanation,
                Details=word.Details,
                Overwrite = "1",
            };
    }

    private void Submit()
    {
        service.UpdateWordAsync(id, Model!);
        navigationManager.NavigateTo($"/bookCategories/{sharedCode}/words");
    }
}